*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #143F6B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    display: inline-block;
    vertical-align: bottom;
    line-height: normal;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.piano {
    display: flex;
}

.key {
    height: calc(var(--width) * 4);
    line-height: calc(var(--width) * 4);
    width: var(--width);
    text-align: center;
}

.white {
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
    color: black;
}

.white.active {
    background-color: #CCC;
}

.black {
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
    color: white
}

.black.active {
    background-color: #333;
}